{% extends 'base.html'  %}
{% block title %}Foreign Currency Exchange Form{% endblock %}

{% block content %}

{% for msg in get_flashed_messages() %}
<div class="msg"><p>{{msg}}</p></div>

{%endfor %}
<h1>Foreign Currency Exchange Form</h1>

<form action="/calculate" method="POST">
    <p>
        <label for="curr_from"><span>Currency from:</span> 
            <input pattern="[A-Z]{3,3}" title="3 uppercase letters" required
                id="curr_from" type="text" name="curr_from"/>
        </label>
    </p>
    <p>
        <label for="curr_to"><span>Currency to: </span>
            <input pattern="[A-Z]{3,3}" title="3 uppercase letters" required id="curr_to"
                type="text" name="curr_to"/>
        </label>
    </p>
    <p>
        <label for="amount"><span>Amount: </span>
            <input required id="amount" type="text" name="amount"/>
        </label>
    </p>
    <button><span>Submit!</span></button>
</form>

{% endblock %}